p {
    font-size: 11px;
}
h1 {
    font-size: 16px;
}
h2 {
    font-size: 14px;
}
li {
    font-size: 11px;
}
table {
    font-size: 11px;
}
a {
    text-decoration: none;
    color: cornflowerblue;
}
a[href]:after { content : "" }
ul {
    padding-left: 20px;
}